<configuration>
    <appSettings>
        <add key="DatabaseConnection" value="azure" />
        <add key="ServiceBusConnectionString" value = "Endpoint=sb://endpoint.servicebus.windows.net/;SharedAccessKeyName=keyname;SharedAccessKey=keyvalue"/>
    </appSettings>
    <connectionStrings>
        <add name="azure"
             connectionString="Server=secrethost;Database=webscrapercs;User Id=secretuserid;Password=secretpassword;"/>
        <add name="local"
             connectionString="Server=localhost;Database=webscrapercs;User Id=java;Password=Maven@2018;"/>
    </connectionStrings>
</configuration>