USE [master]
GO
/****** Object:  Database [webscrapercs]    Script Date: 11/18/2018 2:48:16 AM ******/
CREATE DATABASE [webscrapercs]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [webscrapercs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [webscrapercs]
GO
/****** Object:  Schema [Webscrapercs]    Script Date: 11/18/2018 2:48:16 AM ******/
CREATE SCHEMA [Webscrapercs]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AMENITY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [text] NULL,
	[DESCRIPTION] [text] NULL,
	[AMENITY_TYPE] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AMENITY] ADD PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AMENITY_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [text] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AMENITY_TYPE] ADD PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APARTMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NO_OF_BEDS] int NULL,
	[NO_OF_BATHS] int NULL,
	[MIN_PRICE] decimal NULL,
	[MAX_PRICE] decimal NULL,
	[UNIT] text NULL,
	[AREA] decimal NULL,
	[NAME] text NULL,
	[AVAILABILITY] text NULL,
	[PROPERTY] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APARTMENT] ADD PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expense_Type](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [text] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Expense_Type] ADD PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expenses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [text] NULL,
	[Cost] [text] NULL,
	[Expense_Type] [int] NULL,
	[Property] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Expenses] ADD PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NearestTransitPoint_Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [text] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NearestTransitPoint_Category] ADD PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NearestTransitPointInterest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [text] NULL,
	[Drive] [text] NULL,
	[Distance] [text] NULL,
	[NTPC] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NearestTransitPointInterest] ADD PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NTPI_Property](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NPTI] [int] NULL,
	[Property] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NTPI_Property] ADD PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROPERTY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [text] NULL,
	[ADDRESS] [text] NULL,
	[ZIP] [int] NULL,
	[CITY] [text] NULL,
	[STATE] [text] NULL,
	[COUNTRY] [text] NULL,
	[DESCRIPTION] [text] NULL,
	[PHONE] [text] NULL,
	[EMAIL] [text] NULL,
	[PRICE_RANGE] [text] NULL,
	[SOUND_SCORE] [int] NULL,
	[SOUNDSCORE_TEXT] [text] NULL,
	[PROPERTY_TYPE] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PROPERTY] ADD PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROPERTY_AMENITY_MAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PROPERTY] [int] NULL,
	[AMENITY] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PROPERTY_AMENITY_MAP] ADD PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Property_school](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [text] NULL,
	[School] [int] NULL,
	[Property] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Property_school] ADD PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROPERTY_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PROPERTY_TYPE] [text] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PROPERTY_TYPE] ADD PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[review](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Content] [text] NULL,
	[Name] [text] NULL,
	[Rating] [int] NULL,
	[Num_People_Helpful] [int] NULL,
	[Property] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[review] ADD PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[School](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [text] NULL,
	[Type_text] [text] NULL,
	[Grades] [text] NULL,
	[No_of_students] [int] NULL,
	[Contact_number] [text] NULL,
	[Rating] [int] NULL,
	[Type] [text] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[School] ADD PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[URL] [text] NULL,
	[ZIP_CODE] [int] NULL,
	[STATUS] [int] NULL,
	[ERROR] [text] NULL,
	[PROPERTY] [int] NULL,
	[URL_TYPE] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[URL] ADD PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

ALTER TABLE [dbo].[AMENITY]  WITH CHECK ADD FOREIGN KEY([AMENITY_TYPE])
REFERENCES [dbo].[AMENITY_TYPE] ([ID])
ON DELETE CASCADE
GO
GO
ALTER TABLE [dbo].[APARTMENT]  WITH CHECK ADD FOREIGN KEY([PROPERTY])
REFERENCES [dbo].[PROPERTY] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Expenses]  WITH CHECK ADD FOREIGN KEY([Expense_Type])
REFERENCES [dbo].[Expense_Type] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Expenses]  WITH CHECK ADD FOREIGN KEY([Property])
REFERENCES [dbo].[PROPERTY] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NearestTransitPointInterest]  WITH CHECK ADD FOREIGN KEY([NTPC])
REFERENCES [dbo].[NearestTransitPoint_Category] ([Id])
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[NTPI_Property]  WITH CHECK ADD FOREIGN KEY([Property])
REFERENCES [dbo].[PROPERTY] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NTPI_Property]  WITH CHECK ADD FOREIGN KEY([NPTI])
REFERENCES [dbo].[NearestTransitPointInterest] ([Id])
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[PROPERTY_AMENITY_MAP]  WITH CHECK ADD FOREIGN KEY([AMENITY])
REFERENCES [dbo].[AMENITY] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PROPERTY_AMENITY_MAP]  WITH CHECK ADD FOREIGN KEY([PROPERTY])
REFERENCES [dbo].[PROPERTY] ([ID])
ON DELETE CASCADE
GO

ALTER TABLE [dbo].[Property_school]  WITH CHECK ADD FOREIGN KEY([Property])
REFERENCES [dbo].[PROPERTY] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Property_school]  WITH CHECK ADD FOREIGN KEY([School])
REFERENCES [dbo].[School] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD FOREIGN KEY([Property])
REFERENCES [dbo].[PROPERTY] ([ID])
ON DELETE CASCADE
GO

USE [master]
GO
